body {
  background-image: url("Pineapple Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#nav-basic {
  background-color: #BCE0A9;
}

#logo-nav {
  height: 75px;
  width: 60px;
}

#logo-main {
  height: 200px;
  width: 175px;
}

.button-border {
  border: 5px solid black;
  width: 100px;
  height: 100px;
}

#page-2-button {
  background-image: url("Interests.png");
  background-size: 95px;
}

#page-3-button {
  background-image: url("fixedPoliCompass.png");
  background-size: cover;
}

#page-4-button {
  background-image: url("fixedStarEyes.png");
  background-size: cover;
}

#page-5-button {
  background-image: url("https://www.pngitem.com/pimgs/m/21-215884_telephone-icon-png-phone-emoji-transparent-background-png.png");
  background-size: cover; 
}

.c-btn-color {
  background-color: #B4BE75;
}

.c-card {
  background-color: #B4BE75;
}

.c-card-btn {
  color: black;
  text-decoration: none !important;
 }

 .c-card-btn:hover {
   color: black;
 }

 .c-table-head {
   background-color: #B4BE75;
 }

 .c-anchor {
   color: black;
   
 }

 .c-anchor:hover {
   color: black;
 }

.contact-img {
  width: 75px;
  height: 75px;
}

#blm-fist {
  width: 300px;
  height: 400px;
  
}
